<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Question</title>
</head>
<body>
    <div class="menu">
        <!--menu for admin-->
        <a href="http://localhost:8000/OTS/new-question/">New</a>
        <a href="http://localhost:8000/OTS/view-questions/">View All</a>

    </div>
    <h1>Edit Question</h1>
    <form action="http://localhost:8000/OTS/edit-save-question/" method="post">
        {% csrf_token %}
        <input type="hidden" name="qno" value="{{question.qno}}">
        <div class="title">Question Statement</div>
        <div class="data"><textarea name="question">{{question.que}}</textarea></div>


        <div class="title">Option a</div>
        <div class="data"><input type="text" name="optiona" value="{{question.optiona}}"></div>
        <div class="title">Option b</div>
        <div class="data"><input type="text" name="optionb" value="{{question.optionb}}"></div>
        <div class="title">Option c</div>
        <div class="data"><input type="text" name="optionc" value="{{question.optionc}}"></div>
        <div class="title">Option d</div>
        <div class="data"><input type="text" name="optiond" value="{{question.optiond}}"></div>
        <div class="title">Answer</div>
        <div class="data">
            <select name="answer">
                <option value="a" {% if question.answer == "a" %} selected {% endif %}>a</option>
                <option value="b" {% if question.answer == "b" %} selected {% endif %}>b</option>
                <option value="c" {% if question.answer == "c" %} selected {% endif %}>c</option>
                <option value="d" {% if question.answer == "d" %} selected {% endif %}>d</option>
            </select>
        </div>
        <div><input type="submit" value="Update"></div>

    </form>
</body>
</html>